<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagrm </title>
    <style>
        img{
            height: 100px;
            width: 100px;
        }
        body{
            background-color: rgb(173, 175, 170);
        }
    </style>
</head>