<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagrm </title>
</head>
<body>
    <h1> this page belong to @<%= username %> </h1>
    <button>Follow </button>
    <button>Message</button>

    <h3>accountts that you follow  :</h3>

    <ul>
        <% for (let name of followers) {%>
            <!-- if name treat as a vriable than use the  follwing syntax -->
            <li> <%= name %></li>
        <% } %>
    </ul>
</body>
</html>

